<div class="main-wrapper">
  <div class="side-top">
    <div class="container">
      <div class="row">
        <div class="col-5 col-md-5 text-center">
          <div class="page-header">
            <h1 class="page-title">{{ data.aboutMe.name }}</h1>
            <h4 class="page-subtitle">{{ data.aboutMe.occupationName }}</h4>
          </div>
          <ul class="skills">
            <li *ngFor="let skill of data.aboutMe.skills">{{ skill.name }}</li>
          </ul>
        </div>
        <div class="col-7 col-md-5 offset-md-2">
          <h3>Sobre mim</h3>
          <p>
            {{ data.aboutMe.description }}
          </p>
          <ul class="contact-info">
            <li><fa-icon [icon]="data.aboutMe.contact.iconLocation"></fa-icon> {{ data.aboutMe.contact.city }}/{{ data.aboutMe.contact.state }}</li>
            <li><fa-icon [icon]="data.aboutMe.contact.iconWhatsapp"></fa-icon> {{ data.aboutMe.contact.whatsapp }}</li>
            <li><fa-icon [icon]="data.aboutMe.contact.iconMail"></fa-icon> {{ data.aboutMe.contact.email }}</li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <dl class="contact-links">
          <ng-container *ngFor="let social of data.aboutMe.social">
              <dt>{{ social.name }}</dt>
              <dd>
                <a [attr.alt]="social.name" [href]="social.link" target="_blank">
                  <fa-icon [icon]="social.icon"></fa-icon>
                  <span>{{ social.value }}</span>
                </a>
              </dd>
          </ng-container>
        </dl>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="container">
      <div class="section section-professional">
        <div class="row">
          <div class="col-6">
            <h3 class="section-title">Experiência <strong>Profissional</strong></h3>
            <div class="section-content">
              <div class="section-item" *ngFor="let workXp of data.professionalXp">
                <h4> {{ workXp.occupationArea }} </h4>
                <small>
                  {{ workXp.startedAt | date: 'MMM/yyyy' }}
                  <ng-container *ngIf="workXp.endedAt"> - {{ workXp.startedAt | date: 'MMM/yyyy' }}</ng-container>
                  - {{ workXp.companyName }}
                </small>
                <p>{{ workXp.activityDescription }}</p>
                <p *ngIf="workXp.website"><a [href]="workXp.website">{{ workXp.website }}</a></p>
              </div>
            </div>

            <div class="section section-type-academic">
              <h3 class="section-title ">Formação <strong>Acadêmica</strong></h3>
              <div class="section-content">
                <div class="section-item" *ngFor="let academic of data.academic">
                  <h4> {{ academic.course }} </h4>
                  <small>
                    {{ academic.startedAt.toLocaleDateString("pt-BR") }}
                    {{ academic.endedAt ? " - " + academic.startedAt.toLocaleDateString("pt-BR") : null }}
                  </small>
                  <p>{{ academic.courseLevel }} - {{ academic.institution }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-5 offset-1 section-jobs">
            <h3 class="section-title">Projetos</h3>
            <div class="section-content">
              <div class="section-item" *ngFor="let job of data.jobs">
                <h4>{{ job.title }}</h4>
                <small>{{ job.date.toLocaleDateString("pt-BR") }}</small>
                <p>{{ job.description }}</p>
              </div>
            </div>
            <!-- <img class="img-fluid" src="https://media-exp1.licdn.com/dms/image/C4E03AQEVE7Q1JJPEjw/profile-displayphoto-shrink_800_800/0/1623638014642?e=1634169600&v=beta&t=gciNpMH9qRbsv5S4wheDKhqqK254YNVf-wAOeszET54" alt=""> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
