/* You can add global styles to this file, and also import other style files */
@import "scss/bootstrap";

body {
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 10px 0;
}


@media print
{
  body {
    font-size: 0.7rem;

    h1,h2,h3,h4,h5,h6,p {
      margin: 5px 0;
    }

    .container {
      width: 100%;
      padding: 50px 70px;
      max-width: none;
    }

    .section {
      h4 {
        font-size: 0.8rem;
      }
    }
  }
}
